# Sanity Configuration
NEXT_PUBLIC_SANITY_PROJECT_ID=ppd01mkw
NEXT_PUBLIC_SANITY_DATASET=production

# Optional: Sanity API token for preview mode and mutations
# Get this from https://sanity.io/manage/personal/tokens
SANITY_API_READ_TOKEN=

# Optional: Webhook secret for revalidation
SANITY_REVALIDATE_SECRET=